<div id="msform">
<mat-stepper *ngIf="!creoEquipo" [linear]="isLinear" #stepper>


    <mat-step *ngIf="!creoEquipo" [stepControl]="firstFormGroup">
      <ng-template matStepLabel>¡NOMBRE!</ng-template>
      <form [formGroup]="firstFormGroup">
      <h2 class="fs-title">¡Creemos tu mejor equipo!</h2>
      <h3 class="fs-subtitle">Paso 1: ¡Empieza por un nombre y una foto! </h3>
      <input  type="text" name="team" placeholder="Nombre equipo" formControlName="NombreEquipo" required />
      <form [formGroup]="cargaArchivoFG">
        <div class="form-group">
          <input (change)="CuandoSeleccionaArchivo($event)" type="file" id="imageUpload" accept="image/*"  >
        </div>
      </form>
        <div>
          <button class="next action-button" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>


    <mat-step *ngIf="!creoEquipo" [stepControl]="secondFormGroup" >
      <ng-template matStepLabel>¡DESCRIPCIÓN!</ng-template>
      <form [formGroup]="secondFormGroup">

        <h2 class="fs-title">¡Creemos tu mejor equipo!</h2>
        <h3 class="fs-subtitle">Paso 2: Dale una descripción </h3>
        <textarea formControlName="Descripcion" required name="description" placeholder="Descripción" rows="10" cols="50"></textarea>


        <div>
          <button class="next action-button" mat-button matStepperPrevious>Atrás</button>
          <button class="next action-button" mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step *ngIf="!creoEquipo">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>¡COMPARTE!</ng-template>
        <h2 class="fs-title">¡Creemos tu mejor equipo!</h2>
        <h3 class="fs-subtitle">Paso 3: ¡Escoge a tus compañeros!</h3>
        <input formControlName="InvitacionCorreo1" type="text" name="email" placeholder="Email jugador 1  (opcional)"  />
        <input formControlName="InvitacionCorreo2" type="text" name="email" placeholder="Email jugador 2  (opcional)"   />
        <input formControlName="InvitacionCorreo3" type="text" name="email" placeholder="Email jugador 3  (opcional)" />
        <input formControlName="InvitacionCorreo4" type="text" name="email" placeholder="Email jugador 4  (opcional)" />
        <button class="next action-button" mat-button matStepperPrevious>Atrás</button>
        <button   (click)="EnviarFormulario()" mat-button  class="next action-button" >Crear</button>
      </form>
    </mat-step>




  </mat-stepper>

  <mat-stepper *ngIf="creoEquipo" [linear]="isLinear" #stepper>
    <mat-step *ngIf="creoEquipo">
      <ng-template matStepLabel>¡FIN!</ng-template>
      <h2 class="fs-title">¡Creemos tu mejor equipo!</h2>
      <h3 class="fs-subtitle"> ¡EQUIPO CREADO!</h3>

      <div class="invitation-link">
        <mat-form-field>
          <input matInput readonly [value]="linkInvitacion">
        </mat-form-field>
        <button mat-icon-button (click)="copiarLinkInvitacion()" aria-label="Copy invitation link">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>

      <button (click)="Volverinicio()" class="next action-button" >inicio</button>
    </mat-step>
  </mat-stepper>








</div>
