@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.neon-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  color: white;
  text-align: center;
  animation: neon 1s ease-in-out infinite alternate;
}

.neon-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  color: white;
  background-color: #8c00ff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #0088ff, 0 0 20px #7b00ff, 0 0 30px #8c00ff, 0 0 40px #2f00ff;
  }
  to {
    text-shadow: 0 0 20px #aa00ff, 0 0 30px #1500ff, 0 0 40px #bb00ff, 0 0 50px #aa00ff, 0 0 75px #0400ff;
  }
}

.dots {
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow: none;
  }
  40% {
    color: white;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff3300;
  }
  60% {
    color: white;
    text-shadow: 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
  80%, 100% {
    color: rgba(0,0,0,0);
    text-shadow: none;
  }
}


.dot {
  animation: dot 1s infinite;
}

#dot1 {
  animation-delay: 0.2s;
}

#dot2 {
  animation-delay: 0.4s;
}

#dot3 {
  animation-delay: 0.6s;
}

@keyframes dot {
  0%, 80%, 100% {
    opacity: 0;
  }
  20%, 60% {
    opacity: 1;
  }
}
