
<div  class="profile-wrap">
  <div class="profile-bg">
    <img src="https://i.postimg.cc/5yDfk1KN/nojao1.png">
    </div>

    <div class="profile-avatar">

      <form [formGroup]="cargaArchivoFG">
      <input *ngIf="DuenoDelPerfil" (change)="CuandoSeleccionaArchivo($event)" type="file" class="edit-button" name="avatar" >
      <label for="avatar" class="icon-container">
      </label>
      </form>
    </div>
      <!-- Si foto_perfil=='sinfoto.jpg' y DuenoDelPerfil es falso, muestra esta imagen -->
      <img *ngIf="foto_perfil=='sinfoto.jpg'; else SecondCondition" src="../../../../assets/img/foto de perfil.png" alt="Subir archivo" class="profile-avatar" (click)="openDialog('../../../../assets/img/foto de perfil.png')">

      <!-- Si ninguna de las condiciones anteriores se cumple, muestra esta imagen -->
      <ng-template #SecondCondition>
        <img src="http://localhost:3001/ObtenerArchivo/1/{{foto_perfil}}" alt="Subir archivo" class="profile-avatar" (click)="openDialog('http://localhost:3001/ObtenerArchivo/1/' + foto_perfil)">
      </ng-template>



  <div class="profile-name">
    <a href="?">{{nickname_jugador}}</a>
  </div>

  <div class="profile-fields">

    <span><div>op.gg</div><a href="{{link_cuenta_jugador}}" target="_blank"><b class="nickname-color">{{nickname_jugador}}</b></a></span>
    <span><div>Liga</div>{{liga_jugador}}</span>

    <span>
      <div>Equipo</div>

      <button (click)="RouteCrearEquipo()" *ngIf="DuenoDelPerfil && nom_equipo == null" class="submit action-button">Crear equipo</button>
      <a *ngIf="nom_equipo != null" href="{{link_perfil_equipo}}"><b class="nickname-color">{{nom_equipo}}</b></a>
    </span>

    <span><div>Troll?</div>{{troll}}</span>

    <span><div>Sexo</div>{{sexo}}</span>

  </div>

  <div class="profile-freeform">

    <div class="freeform-warn" align="center"> <h1> Sobre mi </h1></div>

    <div class="freeform-content">
      {{displayedText}}
    </div>
  </div>

  <!--<div class="profile-links">
    <a href="?">dossier</a>
    <a href="?">view all 420 posts</a>
    <a href="?">view topics</a>
    <a href="?">directory</a>
    <a href="?">message</a>
  </div>-->

  <!--<div class="profile-player">
    <span>played by martin</span>
    <span>he/him</span>
    <span>27 years old</span>
    <span>central timezone</span>
    <span><div>hover for trigger warnings</div></span>
  </div>-->
  <!--END PROFILE-->
</div>
