<div class="fondonegro">
  <div class="profile-wrap">
    <div class="profile-bg">
      <img src="https://cdn.discordapp.com/attachments/777401858066874440/849074156003393566/5cc91555930106e8.png">
      </div>

    <div class="profile-avatar">
      <img src="https://cdn.discordapp.com/attachments/777401858066874440/849075864448663602/unknown.png">
    </div>

    <div class="profile-name">
      <a href="?">{{nickname_jugador}}</a>
    </div>

    <div class="profile-fields">

      <span><div>pronouns</div>he/him</span>
      <span><div>age</div>19 years old</span>
      <span><div>occupation</div>boxer</span>
      <span><div>persona</div>polydeuces</span>
      <span><div>arcana</div>emperor</span>
      <span><div>affiliation</div>S.E.E.S</span>
      <span><div>sexuality</div>homosexual</span>
      <span><div>residence</div>gekkoukan</span>

    </div>

    <div class="profile-freeform">

      <div class="freeform-warn"><b>trigger warnings for:</b></div>

      <div class="freeform-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Odio euismod lacinia at quis risus sed vulputate odio ut. A erat nam at lectus urna duis convallis convallis. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Donec et odio pellentesque diam volutpat commodo. Orci ac auctor augue mauris augue neque gravida in fermentum. Venenatis tellus in metus vulputate eu. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Eget felis eget nunc lobortis. Vestibulum lectus mauris ultrices eros in cursus turpis massa.
  <br><br>
  Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Malesuada fames ac turpis egestas integer. Vitae suscipit tellus mauris a diam maecenas sed. Ut diam quam nulla porttitor massa id. Sed velit dignissim sodales ut. Mattis nunc sed blandit libero volutpat sed cras. Sed faucibus turpis in eu. Dolor magna eget est lorem ipsum dolor sit amet. Eget nunc scelerisque viverra mauris in aliquam sem. Id ornare arcu odio ut sem nulla pharetra diam. Tempus quam pellentesque nec nam.</div>
    </div>

    <div class="profile-links">
      <a href="?">dossier</a>
      <a href="?">view all 420 posts</a>
      <a href="?">view topics</a>
      <a href="?">directory</a>
      <a href="?">message</a>
    </div>

    <div class="profile-player">
      <span>played by <b>martin</b></span>
      <span>he/him</span>
      <span>27 years old</span>
      <span>central timezone</span>
      <span><div>hover for trigger warnings</div></span>
    </div>
    <!--END PROFILE-->
  </div>

</div>
