
<div class="profile-wrap">
  <div class="profile-bg">
    <img src="https://i.postimg.cc/5yDfk1KN/nojao1.png">
    </div>

    <div class="profile-avatar">
      <input type="file" id="avatar" name="avatar" style="display: none;">
      <label for="avatar" class="icon-container">
        <img src="https://i.postimg.cc/HxpXN1Jd/upload2.png" alt="Subir archivo" class="icon">
      </label>
    </div>
    <img id="preview" src="" alt="Vista previa de la imagen" class="profile-avatar" style="display: none;">

  <div class="profile-name">
    <a href="?">{{nickname_jugador}}</a>
  </div>

  <div class="profile-fields">

    <span><div>op.gg</div><a href="{{link_cuenta_jugador}}" target="_blank"><b class="nickname-color">{{nickname_jugador}}</b></a></span>
    <span><div>Liga</div>{{liga_jugador}}</span>
    <span><div>Equipo</div><a href="{{link_perfil_equipo}}" target="_blank"><b class="nickname-color">{{nom_equipo}}</b></a></span>
    <span><div>Troll?</div>{{troll}}</span>

    <span><div>Sexo</div>{{sexo}}</span>

  </div>

  <div class="profile-freeform">

    <div class="freeform-warn" align="center"> <h1> Sobre mi </h1></div>

    <div class="freeform-content">
      {{displayedText}}
    </div>
  </div>

  <!--<div class="profile-links">
    <a href="?">dossier</a>
    <a href="?">view all 420 posts</a>
    <a href="?">view topics</a>
    <a href="?">directory</a>
    <a href="?">message</a>
  </div>-->

  <!--<div class="profile-player">
    <span>played by martin</span>
    <span>he/him</span>
    <span>27 years old</span>
    <span>central timezone</span>
    <span><div>hover for trigger warnings</div></span>
  </div>-->
  <!--END PROFILE-->
</div>
