<div class="cuerpo-entero">

	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">

		<div class="page-heading">
			<div class="container">
				<h2>¡Torneos disponibles!</h2>
				<h3>Todos los torneos disponibles</h3>
			</div>

		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container">
				<div class="courses">
					<div class="owl-one owl-carousel">
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
									</div>
									<img src="../../../../assets/img/Sin título-1.png" class="title" />
									<img src="https://w7.pngwing.com/pngs/575/149/png-transparent-huni-league-of-legends-champions-korea-smite-2017-league-of-legends-world-championship-league-of-legends-game-video-game-fictional-character.png" class="character" />
								  </div>
								</a>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
								  </div>
								</a>
							  </div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
								  </div>
								</a>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
								  </div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Learn courses End -->
		<div class="page-heading">
			<div class="container">
				<h2>¡Torneos en curso!</h2>
				<h3>Mira todos los torneos que se están ejecutando ahora mismo</h3>
			</div>

		</div>
		<!-- Popular courses End -->
		<div class="learn-courses">
			<div class="container">
				<div class="courses">
					<div class="owl-one owl-carousel">
						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />

								</div>

								</a>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
								  </div>
								</a>
							  </div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
								  </div>
								</a>

							</div>
						</div>

						<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
							<div class="cartas">
								<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
								  <div class="card">
									<div class="wrapper">
									  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
									</div>
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
									<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
								  </div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-heading">
		<div class="container">
			<h2>¡Torneos Finalizados!</h2>
			<h3>¿No lograste ver que sucedió? Aquí puedes ver el resumen de tus torneos favoritos finalizados</h3>
		</div>

	</div>
	<!-- Popular courses End -->
	<div class="learn-courses">
		<div class="container">
			<div class="courses">
				<div class="owl-one owl-carousel">
					<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
						<div class="cartas">

							<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
							  <div class="card">
								<div class="wrapper">
								  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
								</div>
								<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
								<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
							  </div>
							</a>

						</div>

					</div>

					<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
						<div class="cartas">
							<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
							  <div class="card">
								<div class="wrapper">
								  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
								</div>
								<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
								<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
							  </div>
							</a>
						  </div>
					</div>

					<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
						<div class="cartas">
							<a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
							  <div class="card">
								<div class="wrapper">
								  <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" />
								</div>
								<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
								<img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" />
							  </div>
							</a>

						</div>
					</div>

					<div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
						<div class="cartas">
							<a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
							  <div class="card">
								<div class="wrapper">
								  <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" />
								</div>
								<img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
								<img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
							  </div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
